name: Build

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
      - name: Install dependencies
        run: |
          sudo apt update
          sudo apt install -y unzip wget cmake
          wget -q -O sdk.zip https://contentcenter-drcn.dbankcdn.cn/pub_1/DevEcoSpace_1_900_9/13/v3/CcUeigptTbyk_8Ij634-PA/lvBPDKW2QbqJ9RK5qrIr1A.zip
          unzip -o sdk.zip
          export OHOS_SDK=$(pwd)
          cd lycium && ./build.sh openssl
          
      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: openssl_1_1_1u
          path: |
            lycium/usr/openssl
